In [1]:
%run "F:\\onedrive\\Desktop\\DATA SCIENCE\\Project 1\\Cross-Market Analysis\\bootstrap.py"

In [2]:
import pandas as pd
import yfinance
from src.config.settings import (Asset_Date_Ranges)

# Download ^GSPC

In [3]:
stock_first = pd.to_datetime(Asset_Date_Ranges['stock']['start'], dayfirst = True)
stock_end = pd.to_datetime(Asset_Date_Ranges['stock']['end'], dayfirst = True)

gspc = yfinance.download("^GSPC", start = stock_first, end = stock_end)

[*********************100%***********************]  1 of 1 completed

In [4]:
df1 = pd.DataFrame(gspc)

In [5]:
df1.reset_index(inplace = True)

In [7]:
df1.head()
df1.tail()

Price,Date,Close,High,Low,Open,Volume
Ticker,,^GSPC,^GSPC,^GSPC,^GSPC,^GSPC
1438,2025-09-23,6656.919922,6699.520020,6645.580078,6692.439941,5633620000
1439,2025-09-24,6637.970215,6672.660156,6621.759766,6669.790039,5459180000
1440,2025-09-25,6604.720215,6619.000000,6569.220215,6608.189941,5874670000
1441,2025-09-26,6643.700195,6648.970215,6604.430176,6615.379883,5103110000
1442,2025-09-29,6661.209961,6677.310059,6644.490234,6661.580078,5358760000

In [30]:
df1.to_csv("F:\\onedrive\\Desktop\\DATA SCIENCE\\Project 1\\Cross-Market Analysis\\Cross-Market Data\\raw\\stocks\\gspc_data.csv")

# Download ^IXIC

In [13]:
ixic = yfinance.download("^IXIC", start = stock_first, end = stock_end)

[*********************100%***********************]  1 of 1 completed

In [14]:
df2 = pd.DataFrame(ixic)

In [23]:
df2.reset_index(inplace = True)

In [24]:
df2.head()

Price,Date,Close,High,Low,Open,Volume
Ticker,,^IXIC,^IXIC,^IXIC,^IXIC,^IXIC
0,2020-01-02,9092.190430,9093.429688,9010.889648,9039.459961,2862700000
1,2020-01-03,9020.769531,9065.759766,8976.429688,8976.429688,2586520000
2,2020-01-06,9071.469727,9072.410156,8943.500000,8943.500000,2810450000
3,2020-01-07,9068.580078,9091.929688,9042.549805,9076.639648,2381740000
4,2020-01-08,9129.240234,9168.889648,9059.379883,9068.030273,2472620000

In [28]:
df2.to_csv("F:\\onedrive\\Desktop\\DATA SCIENCE\\Project 1\\Cross-Market Analysis\\Cross-Market Data\\raw\\stocks\\ixic_data.csv")

# Download ^NSEI

In [9]:
nsei = yfinance.download("^NSEI", start = stock_first, end = stock_end)

[*********************100%***********************]  1 of 1 completed

In [10]:
df3 = pd.DataFrame(nsei)

In [11]:
df3.reset_index(inplace = True)

In [12]:
df3.head()
df3.tail()

Price,Date,Close,High,Low,Open,Volume
Ticker,,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI
1418,2025-09-23,25169.500000,25261.900391,25084.650391,25209.000000,299200
1419,2025-09-24,25056.900391,25149.849609,25027.449219,25108.750000,244400
1420,2025-09-25,24890.849609,25092.699219,24878.300781,25034.500000,342500
1421,2025-09-26,24654.699219,24868.599609,24629.449219,24818.550781,291500
1422,2025-09-29,24634.900391,24791.300781,24606.199219,24728.550781,394400

In [34]:
df3.to_csv("F:\\onedrive\\Desktop\\DATA SCIENCE\\Project 1\\Cross-Market Analysis\\Cross-Market Data\\raw\\stocks\\nsei_data.csv")