In [23]:
# Bootstrap the directory
%run "F:\\onedrive\\Desktop\\DATA SCIENCE\\Project 1\\Cross-Market Analysis\\bootstrap.py"

In [24]:
import pandas as pd

In [25]:
df = pd.read_csv("F:\\onedrive\\Desktop\\DATA SCIENCE\\Project 1\\Cross-Market Analysis\\Cross-Market Data\\raw\\crypto\\crypto_prices.csv")
df.head()

   Unnamed: 0  coin_id      timestamp          price
0           0  bitcoin  1737936000000  102552.248743
1           1  bitcoin  1738022400000  101958.469537
2           2  bitcoin  1738108800000  101313.112645
3           3  bitcoin  1738195200000  103718.979398
4           4  bitcoin  1738281600000  104781.513510

# Convert timestamp â†’ date

In [26]:
# dt.date only results into date of the datetime function.
df['date'] = pd.to_datetime(df['timestamp'], unit = 'ms').dt.date
df.head()

   Unnamed: 0  coin_id      timestamp          price        date
0           0  bitcoin  1737936000000  102552.248743  2025-01-27
1           1  bitcoin  1738022400000  101958.469537  2025-01-28
2           2  bitcoin  1738108800000  101313.112645  2025-01-29
3           3  bitcoin  1738195200000  103718.979398  2025-01-30
4           4  bitcoin  1738281600000  104781.513510  2025-01-31

In [27]:
df.drop(['Unnamed: 0','timestamp'], axis = 1, inplace = True)
df.head()

     coin_id     price        date
1825  ripple  1.920423  2026-01-23
1826  ripple  1.919418  2026-01-24
1827  ripple  1.913396  2026-01-25
1828  ripple  1.832710  2026-01-26
1829  ripple  1.878343  2026-01-26

# Extract daily price

In [29]:
# Check unique dates for each coin, nunique counts the number of unique values
unique_dates_per_coin = df.groupby('coin_id')['date'].nunique()
unique_dates_per_coin
# So, we have daily prices for all 5 coins.

coin_id
binancecoin    365
bitcoin        365
ethereum       365
ripple         365
tether         365
Name: date, dtype: int64

In [32]:
df.to_pickle("F:\\onedrive\\Desktop\\DATA SCIENCE\\Project 1\\Cross-Market Analysis\\Cross-Market Data\\raw\\crypto\\processed_df_prices.pkl")