In [112]:
%run "F:\\onedrive\\Desktop\\DATA SCIENCE\\Project 1\\Cross-Market Analysis\\bootstrap.py"

In [113]:
import pandas as pd

In [114]:
df1 = pd.read_csv("F:\\onedrive\\Desktop\\DATA SCIENCE\\Project 1\\Cross-Market Analysis\\Cross-Market Data\\raw\\stocks\\gspc_data.csv")

df2 = pd.read_csv("F:\\onedrive\\Desktop\\DATA SCIENCE\\Project 1\\Cross-Market Analysis\\Cross-Market Data\\raw\\stocks\\ixic_data.csv")

df3 = pd.read_csv("F:\\onedrive\\Desktop\\DATA SCIENCE\\Project 1\\Cross-Market Analysis\\Cross-Market Data\\raw\\stocks\\nsei_data.csv")

# Standardize OHLC

In [115]:
df1.head()

df2.head()

df3.head()

,Price,Date,Close,High,Low,Open,Volume
0,Ticker,NaN,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI
1,0,2020-01-01,12182.5,12222.2001953125,12165.2998046875,12202.150390625,304100
2,1,2020-01-02,12282.2001953125,12289.900390625,12195.25,12198.5498046875,407700
3,2,2020-01-03,12226.650390625,12265.599609375,12191.349609375,12261.099609375,428800
4,3,2020-01-06,11993.0498046875,12179.099609375,11974.2001953125,12170.599609375,396500

In [116]:
df1.isnull().sum()

df2.isnull().sum()

df3.isnull().sum()

Price     0
Date      1
Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64

In [117]:
df1.info()

df2.info()

df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1444 entries, 0 to 1443
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Price   1444 non-null   object
 1   Date    1443 non-null   object
 2   Close   1444 non-null   object
 3   High    1444 non-null   object
 4   Low     1444 non-null   object
 5   Open    1444 non-null   object
 6   Volume  1444 non-null   object
dtypes: object(7)
memory usage: 79.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1444 entries, 0 to 1443
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Price   1444 non-null   object
 1   Date    1443 non-null   object
 2   Close   1444 non-null   object
 3   High    1444 non-null   object
 4   Low     1444 non-null   object
 5   Open    1444 non-null   object
 6   Volume  1444 non-null   object
dtypes: object(7)
memory usage: 79.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1424 entries, 0 to 1423
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Price   1424 non-null   object
 1   Date    1423 non-null   object
 2   Close   1424 non-null   object
 3   High    1424 non-null   object
 4   Low     1424 non-null   object
 5   Open    1424 non-null   object
 6   Volume  1424 non-null   object
dtypes: object(7)
memory usage: 78.0+ KB

In [118]:
# Dropping extra junk ticker row
ticker1 = df1.loc[0, "High"]
df1 = df1.drop(index = 0).reset_index(drop = True)
df1.head()

ticker2 = df2.loc[0, "High"]
df2 = df2.drop(index = 0).reset_index(drop = True)
df2.head()

ticker3 = df3.loc[0, "High"]
df3 = df3.drop(index = 0).reset_index(drop = True)
df3.head()

,Price,Date,Close,High,Low,Open,Volume
0,0,2020-01-01,12182.5,12222.2001953125,12165.2998046875,12202.150390625,304100
1,1,2020-01-02,12282.2001953125,12289.900390625,12195.25,12198.5498046875,407700
2,2,2020-01-03,12226.650390625,12265.599609375,12191.349609375,12261.099609375,428800
3,3,2020-01-06,11993.0498046875,12179.099609375,11974.2001953125,12170.599609375,396500
4,4,2020-01-07,12052.9501953125,12152.150390625,12005.349609375,12079.099609375,447800

In [119]:
# Dropping the unnecessary Price column.
df1 = df1.drop(columns = ['Price'])
df1.head()

df2 = df2.drop(columns = ['Price'])
df2.head()

df3 = df3.drop(columns = ["Price"])
df3.head()

,Date,Close,High,Low,Open,Volume
0,2020-01-01,12182.5,12222.2001953125,12165.2998046875,12202.150390625,304100
1,2020-01-02,12282.2001953125,12289.900390625,12195.25,12198.5498046875,407700
2,2020-01-03,12226.650390625,12265.599609375,12191.349609375,12261.099609375,428800
3,2020-01-06,11993.0498046875,12179.099609375,11974.2001953125,12170.599609375,396500
4,2020-01-07,12052.9501953125,12152.150390625,12005.349609375,12079.099609375,447800

# Add ticker column

In [120]:
df1["ticker"] = ticker1
df1.head()

df2["ticker"] = ticker2
df2.head()

df3["ticker"] = ticker3
df3.head()

,Date,Close,High,Low,Open,Volume,ticker
0,2020-01-01,12182.5,12222.2001953125,12165.2998046875,12202.150390625,304100,^NSEI
1,2020-01-02,12282.2001953125,12289.900390625,12195.25,12198.5498046875,407700,^NSEI
2,2020-01-03,12226.650390625,12265.599609375,12191.349609375,12261.099609375,428800,^NSEI
3,2020-01-06,11993.0498046875,12179.099609375,11974.2001953125,12170.599609375,396500,^NSEI
4,2020-01-07,12052.9501953125,12152.150390625,12005.349609375,12079.099609375,447800,^NSEI

# Filter date range

In [121]:
df1.columns
df2.columns
df3.columns

Index(['Date', 'Close', 'High', 'Low', 'Open', 'Volume', 'ticker'], dtype='object')

In [122]:
# Renaming the Columns
df1 = df1.rename(columns = {
    "Date" : "date",
    "Close" : "close",
    "High" : "high",
    "Low" : "low",
    "Open" : "open",
    "Volume" : "volume"
    })
df1.head()

df2 = df2.rename(columns = {
    "Date" : "date",
    "Open" : "open",
    "High" : "high",
    "Low" : "low",
    "Close" : "close",
    "Volume" : "volume"
})
df2.head()

df3 = df3.rename(columns = {
    "Date" : "date",
    "Open" : "open",
    "High" : "high",
    "Low" : "low",
    "Close" : "close",
    "Volume" : "volume"
})
df3.head()

,date,close,high,low,open,volume,ticker
0,2020-01-01,12182.5,12222.2001953125,12165.2998046875,12202.150390625,304100,^NSEI
1,2020-01-02,12282.2001953125,12289.900390625,12195.25,12198.5498046875,407700,^NSEI
2,2020-01-03,12226.650390625,12265.599609375,12191.349609375,12261.099609375,428800,^NSEI
3,2020-01-06,11993.0498046875,12179.099609375,11974.2001953125,12170.599609375,396500,^NSEI
4,2020-01-07,12052.9501953125,12152.150390625,12005.349609375,12079.099609375,447800,^NSEI

In [87]:
df1["date"].dtypes

dtype('O')

In [123]:
# Fix Datatypes
# Applying the numeric date type to the columns.
df1["date"] = pd.to_datetime(df1["date"])
price_cols = ['open', 'high', 'low', 'close', 'volume']
df1[price_cols] = df1[price_cols].apply(pd.to_numeric)
df1.head()

df2["date"] = pd.to_datetime(df2["date"])
price_cols = ['open', 'high', 'low', 'close', 'volume']
df2[price_cols] = df2[price_cols].apply(pd.to_numeric)

df3["date"] = pd.to_datetime(df3["date"])
price_cols = ['open', 'high', 'low', 'close', 'volume']
df3[price_cols] = df3[price_cols].apply(pd.to_numeric)

In [124]:
# Reordering the columns
cols1 = ['date', 'open', 'high', 'low', 'close', 'volume', 'ticker']
df1 = df1.reindex(columns = cols1)
df1.head()

cols2 = ["date", "open", "high", "low", "close", "volume", "ticker"]
df2 = df2.reindex(columns = cols2)
df2.head()

cols3 = ["date", "open", "high", "low", "close", "volume", "ticker"]
df3 = df3.reindex(columns = cols3)
df3.head()

,date,open,high,low,close,volume,ticker
0,2020-01-01,12202.150391,12222.200195,12165.299805,12182.500000,304100,^NSEI
1,2020-01-02,12198.549805,12289.900391,12195.250000,12282.200195,407700,^NSEI
2,2020-01-03,12261.099609,12265.599609,12191.349609,12226.650391,428800,^NSEI
3,2020-01-06,12170.599609,12179.099609,11974.200195,11993.049805,396500,^NSEI
4,2020-01-07,12079.099609,12152.150391,12005.349609,12052.950195,447800,^NSEI

In [125]:
# Display the date values to full calender with NaN in missing prices. This is done so when cross-analysis with crypto takes place the data should not lie.

df1.sort_values("date")
expected_dates = pd.date_range(start = df1['date'].min(), end = df1['date'].max(), freq = 'D')
df1 = df1.set_index('date').reindex(expected_dates)

df2.sort_values("date")
expected_dates = pd.date_range(start = df2['date'].min(), end = df2['date'].max(), freq = 'D')
df2 = df2.set_index('date').reindex(expected_dates)

df3.sort_values("date")
expected_dates = pd.date_range(start = df3['date'].min(), end = df3['date'].max(), freq = 'D')
df3 = df3.set_index('date').reindex(expected_dates)
df3.head()

,open,high,low,close,volume,ticker
2020-01-01,12202.150391,12222.200195,12165.299805,12182.500000,304100.0,^NSEI
2020-01-02,12198.549805,12289.900391,12195.250000,12282.200195,407700.0,^NSEI
2020-01-03,12261.099609,12265.599609,12191.349609,12226.650391,428800.0,^NSEI
2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
# Forward Fill Prices whenever the market is closed, since the prices do not change.
price_cols = ['open', 'high', 'low', 'close', 'ticker']
df1[price_cols] = df1[price_cols].ffill()
df2[price_cols] = df2[price_cols].ffill()
df3[price_cols] = df3[price_cols].ffill()
df3.head()

,open,high,low,close,volume,ticker
2020-01-01,12202.150391,12222.200195,12165.299805,12182.500000,304100.0,^NSEI
2020-01-02,12198.549805,12289.900391,12195.250000,12282.200195,407700.0,^NSEI
2020-01-03,12261.099609,12265.599609,12191.349609,12226.650391,428800.0,^NSEI
2020-01-04,12261.099609,12265.599609,12191.349609,12226.650391,NaN,^NSEI
2020-01-05,12261.099609,12265.599609,12191.349609,12226.650391,NaN,^NSEI

In [127]:
# Restore the date columns
df1 = df1.reset_index().rename(columns = {'index' : 'date'})
df1.head()

df2 = df2.reset_index().rename(columns = {'index' : 'date'})
df2.head()

df3 = df3.reset_index().rename(columns = {'index' : 'date'})
df3.head()

,date,open,high,low,close,volume,ticker
0,2020-01-01,12202.150391,12222.200195,12165.299805,12182.500000,304100.0,^NSEI
1,2020-01-02,12198.549805,12289.900391,12195.250000,12282.200195,407700.0,^NSEI
2,2020-01-03,12261.099609,12265.599609,12191.349609,12226.650391,428800.0,^NSEI
3,2020-01-04,12261.099609,12265.599609,12191.349609,12226.650391,NaN,^NSEI
4,2020-01-05,12261.099609,12265.599609,12191.349609,12226.650391,NaN,^NSEI

# Merge tickers

In [129]:
# Stack all prices
df_all = pd.concat([df1, df2, df3], ignore_index = True)
df_all.head()

,date,open,high,low,close,volume,ticker
0,2020-01-02,3244.669922,3258.139893,3235.530029,3257.850098,3.459930e+09,^GSPC
1,2020-01-03,3226.360107,3246.149902,3222.340088,3234.850098,3.484700e+09,^GSPC
2,2020-01-04,3226.360107,3246.149902,3222.340088,3234.850098,NaN,^GSPC
3,2020-01-05,3226.360107,3246.149902,3222.340088,3234.850098,NaN,^GSPC
4,2020-01-06,3217.550049,3246.840088,3214.639893,3246.280029,3.702460e+09,^GSPC

In [131]:
df_all.to_csv("F:\\onedrive\\Desktop\\DATA SCIENCE\\Project 1\\Cross-Market Analysis\\Cross-Market Data\\cleaned\\stocks\\stock_prices.csv")